/* Reset link styles. */
a, a:hover, a:focus {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit;
}

a:link, a:visited {
    cursor: pointer;
}

/* Reset font redefinitions. */
h1, h2, h3, h4, h5, h6,
.h1,
.inline-label,
.record-type-badge,
.identifier .id-label,
span.head {
    font-family: inherit;
}

/* Reset excessive borders, margins and padding. */
#lead_graph,
#whats-in-container,
.contact_info,
.recordrow,
.search {
    border: none;
    margin: 20px 0;
    padding: 0;
}

.contact_info,
.recordrow {
    margin-top: 0;
}

#content,
#info_row .list-breadcrumb,
#main-content.accessions,
#main-content.objects,
.nav-page .sorter {
    margin: 0;
    padding: 0;
}

.list-inline > li,
.record-type-badge,
.badge-and-identifier .identifier,
.result_context,
.result_context strong {
    padding: 0;
}

/* Remove colors from record types. */
.agent,
.classification,
.collection,
.folder,
.object,
.person,
.record,
.resource,
.top_container,
.record-type-badge.accession,
.record-type-badge.agent,
.record-type-badge.archival_object,
.record-type-badge.classification,
.record-type-badge.digital_object,
.record-type-badge.repository,
.record-type-badge.resource,
.record-type-badge.subject,
.recordtype.repository,
.recordtype.classification,
button.subject {
    color: inherit;
}

/* Restyle accordions and expanders. */
.acc_holder {
    margin: 0;
}

#content .acc_button,
#content .expander {
    background: inherit;
    border: 1px solid;
    border-radius: 3px;
    text-decoration: none;
}

#content .acc_button {
    margin-bottom: 20px;
}

#content .expander {
    margin-left: 4px;
    padding: 2px 4px;
    white-space: nowrap;
}

#content .readmore > p {
    display: inline;
}

/* Reset colors for alerts. */
#content .alert {
    color: inherit;
}

#content .alert.alert-danger {
    background: #fff2f2;
    border-color: #c00;
}

/* Restyle generic buttons. */
#content .btn.btn-default {
    background: #fff;
    border: 1px solid #ccc;
    color: #7f3f2f;
    line-height: inherit;
    text-decoration: none;
}

#content .btn.btn-default:hover,
#content .btn.btn-default:focus {
    color: #4f2c1d;
}

/* Show icons that are hidden. */
.close[aria-hidden=true],
.fa[aria-hidden=true],
.record-type-badge[aria-hidden=true] {
    display: inline-block;
}

/* Fix appearance of number of facet records. */
.facets .recordnumber {
    font-size: 0.875em;
    padding: 0 4px;
}

/* Fix spacing for filter forms. */
.filter_more form {
    margin: 0 15px 20px 15px;
    max-width: 100%;
}

.form-group {
    margin-bottom: 4px;
}

/* Restyle tree widget. */
.largetree-container {
    background: transparent;
    margin-bottom: 0;
}

.largetree-container .current {
    outline-color: #f9f6b8;
}

.largetree-container .current .table-cell {
    background-color: #fffff2;
}

.largetree-container .indentor {
    background-color: transparent;
    vertical-align: top;
}

.largetree-container .table.root {
    margin-bottom: 0;
}

.largetree-container .table.root div.table-row,
.largetree-container .table.root div.table-row:nth-of-type(2n+1) {
    background-color: transparent;
}

/* Fix spacing of modal footers. */
.modal-footer {
    padding-right: 7px;
}

/* Style tabs. */
#tabs {
    border-bottom: 1px solid #ddd;
    display: flex;
    font-size: 1.1em;
    flex-wrap: wrap;
    line-height: 1.25;
    margin: 0 0 20px 0;
    padding: 0;
}

#tabs a {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    margin: 0 0 -1px -1px;
    padding: 10px 20px 6px 20px;
}

#tabs a:active,
#tabs a:focus,
#tabs a:hover {
    border-color: #ddd;
    z-index: 3;
}

#tabs a[href="#"] {
    background: #fff;
    border-color: #ddd;
    border-bottom-color: #fff;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    z-index: 2;
}

.nav-tabs {
    border-bottom: none;
}

/* Fix spacing of single notes and dates. */
.note-content,
.subnote,
#content .dates-is-single-date {
    padding: 0;
    margin: 0 0 20px 0;
}

.note-content > p:last-child {
    margin-bottom: 0;
}

/* Move digital objects to be their own left aligned row. */
.images {
    margin: 0 0 20px 0;
}

.objectimage {
    float: left;
    margin: 0 10px 0 0;
    width: auto;
}

.upper-record-details {
    clear: left;
}

/* Make required fields less crazy. */
span.required {
    color: inherit;
    font-variant: normal;
    text-transform: capitalize;
}

/* Fix issues with resizable sidebars. */
html {
  scroll-padding-top: 24px;
}

#sidebar.resizable-sidebar {
    margin-bottom: 8px;
    padding: 10px;
}

@media (min-width: 992px) {
    #sidebar.resizable-sidebar {
        padding-left: 18px;
    }
}

#sidebar form {
    max-width: 100%;
    margin: 0 15px;
}

#sidebar h2 {
    font-size: 1.1em;
    line-height: 1.25;
    font-weight: 700;
}

#sidebar .resizable-sidebar-handle {
    display: none;
}

@media (min-width: 992px) {
    #sidebar .resizable-sidebar-handle {
        display: block;
    }
}

#sidebar .search {
    margin-top: 5px;
}

.has-resizable-content {
    margin-right: 0;
}

.has-resizable-content-left {
  margin-left: 0;
  margin-right: -15px;
}

@media (min-width: 992px) {
  .has-resizable-content-left #sidebar.resizable-sidebar {
    padding-left: 10px;
    padding-right: 18px;
    position: sticky;
    top: 20px;
  }

  .has-resizable-content-left #sidebar.resizable-sidebar .resizable-sidebar-handle {
    border-left: 1px solid #CCC;
    border-right: none;
    left: auto;
    right: 0;
  }
}

/* Restyle search statement. */
.searchstatement {
    background-color: #f2f2f2;
    border-radius: 4px;
    line-height: 1.5;
    margin: 0 0 8px 0;
    padding: 4px 8px;
}

.searchstatement .btn-group, .refinesearch {
    margin: 6px 0 0 0;
}

.searchstatement .no-bullets {
    margin: 0;
}

/* Restyle repository logos. */
.repository-logo {
    float: none;
}

.repository-logo img,
.recordrow .repository-logo img {
    height: 80px;
    margin-bottom: 10px;
    max-height: none;
    max-width: none;
    width: auto;
}

/* Make padding of panels more consistent. */
.panel-body {
    padding: 20px 15px 0 15px;
}

/* Move link to search video. */
.search > h2 {
    float: left;
}

.search > form {
    clear: both;
}

/* Fix height of plus and minus buttons. */
#content .plusminus .btn {
    line-height: 1.428571429;
}

/* Add bullets to nodes in collection organization. */
.indentor > .expandme {
    display: inline-block;
    padding-right: 0;
}

.indentor > .expandme[aria-hidden] {
    visibility: visible !important;
}

.indentor > .expandme[aria-hidden] > .expandme-icon::before {
    content: "\2022";
    font-size: 20px;
    line-height: 0;
}

/* Align search row elements to bottom. */
.search_row {
    align-items: end;
    display: flex;
}

/* Remove margin from labels. */
label {
    margin-bottom: 0;
}

/* Adjust margins between sections. */
#content .information,
#content .sidebar {
    margin-bottom: 20px;
}

#info_row {
    display: flex;
}

#info_row > div {
    flex: 1 1 auto;
}

#info_row > .page_actions {
    white-space: nowrap;
}

/* Emphasis */
.emph {
    font-style: italic;
}

.emph.altrender,
.emph.bold,
.emph.nonproport,
.emph.smcaps,
q.emph,
sub.emph,
sup.emph,
u.emph {
    font-style: normal;
}

.emph.altrender:before {
    content: "«";
}

.emph.altrender:after {
    content: "»";
}

.emph.bold {
    font-weight: bold;
}

.emph.italic {
    font-style: italic;
}

.emph.nonproport {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.emph.single:before {
    content: "‘";
}

.emph.single:after {
    content: "’";
}

.emph.smcaps {
    font-variant: small-caps;
}

/* Improve styling of infinite records. */
.infinite-record-record {
    background-image: repeating-linear-gradient(90deg, transparent, transparent 19px, #ccc 20px);
}

.infinite-record-record:last-child {
    margin-bottom: 8px;
}

.infinite-item {
    display: flow-root;
    margin: 0;
    padding: 10px 0 0 0;
}

.infinite-item.infinite-item-indent-0 {
    padding: 0;
}

#content .infinite-item .information {
    margin: 0;
    padding: 0;
}

.infinite-item .subnote {
    margin: 10px 0;
    padding: 0;
}

.infinite-item dl.dl-horizontal {
    margin: 10px 0;
    padding: 0;
}

.infinite-item dl.dl-horizontal dt,
.infinite-item dl.dl-horizontal dd {
    line-height: inherit;
    margin: 0;
    padding: 0;
}
