#advanced_search .form-group {
    margin-bottom: 1rem;
}

#advanced_search .form-group :is(input, select, textarea) {
    width: 100%;
}

#advanced_search .form-group select {
    text-overflow: ellipsis;
}

#advanced_search .norepeat {
    display: none;
}

#advanced_search #search_row_0 .norepeat {
    display: block;
}

#advanced_search #submit_search {
    width: auto;
}

#content {
    margin: 0;
}

#facets ul {
    margin: 0;
}

#facets .more-facets .less,
#facets .more-facets .more {
    margin: 0.5rem 0 0 2rem;
}

#lead_graph {
    padding: 0;
}

#main-content {
    margin-bottom: 1rem;
}

#main-content.accessions,
#main-content.objects {
    padding: 0;
}

#sidebar.resizable-sidebar {
    background: #f2f2f2;
    border: none;
    padding: 12px 0.75rem;
    border-radius: 12px;
}

#sidebar.resizable-sidebar .resizable-sidebar-handle {
    display: none;
}

@media (min-width: 992px) {
    #sidebar.resizable-sidebar {
        padding-left: calc(0.75rem + 11px);
        padding-right: 0.75rem;
    }

    #sidebar.resizable-sidebar .resizable-sidebar-handle {
        border-radius: 12px 0 0 12px;
        display: block;
        width: 11px;
        background-position: center;
    }

    .has-resizable-content-left #sidebar.resizable-sidebar {
        margin-left: 15px;
        padding-left: 0.75rem;
        padding-right: calc(0.75rem + 11px);
    }

    .has-resizable-content-left #sidebar.resizable-sidebar .resizable-sidebar-handle {
        border-radius: 0 12px 12px 0;
    }
}

#sidebar form {
    margin: 0;
    max-width: 100%;
}

#tabs {
    margin-bottom: 1rem;
}

#whats-in-container {
    border: none;
    margin: 0 0 -0.5rem 0;
    padding: 0;
}

#whats-in-container .btn.btn-default {
    margin: 0 0.5rem 0.5rem 0;
}

.acc_holder {
    margin-top: 1rem;
}

.alert {
    color: inherit;
    margin: 1rem 0;
    padding: 12px .75rem;
}

.alert .close {
    font-size: 24px;
    right: 0;
    top: 0;
}

.badge-and-identifier {
    font: inherit;
    font-weight: 400;
    margin-top: -0.825rem;
}

.badge-and-identifier .identifier,
.badge-and-identifier .identifier .component,
.badge-and-identifier .identifier .id-label,
.record-type-badge,
.record-type-badge.accession,
.record-type-badge.agent,
.record-type-badge.archival_object,
.record-type-badge.classification,
.record-type-badge.digital_object,
.record-type-badge.repository,
.record-type-badge.resource,
.record-type-badge.subject {
    color: inherit;
    font: inherit;
    padding: 0;
}

.btn.btn-default {
    color: #7f3f2f;
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;
    text-decoration-color: #f5c163;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.btn.btn-default:is(:active, :focus, :hover) {
    color: #4f2c1d;
    text-decoration: underline;
    text-decoration-color: #f5c163;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.btn.btn-default .fa-inverse {
    color: #e3a492;
}

.emph {
    font-style: italic;
}

.emph.altrender,
.emph.bold,
.emph.nonproport,
.emph.smcaps,
q.emph,
sub.emph,
sup.emph,
u.emph {
    font-style: normal;
}

.emph.altrender:before {
    content: "«";
}

.emph.altrender:after {
    content: "»";
}

.emph.bold {
    font-weight: bold;
}

.emph.italic {
    font-style: italic;
}

.emph.nonproport {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.emph.single:before {
    content: "‘";
}

.emph.single:after {
    content: "’";
}

.emph.smcaps {
    font-variant: small-caps;
}

.has-resizable-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.infinite-record-container {
    overflow: visible;
}

.infinite-record-wrapper {
    height: auto;
}

.infinite-record-wrapper .infinite-record-record {
    background-image: repeating-linear-gradient(90deg, transparent, transparent 19px, #ccc 20px);
    margin-left: -19px;
}

.infinite-record-wrapper .infinite-record-record .infinite-item {
    display: flow-root;
    padding-left: 20px;
}

.infinite-record-wrapper .infinite-record-record .infinite-item dl {
    margin: 0;
    padding: 0;
}

.infinite-record-wrapper .infinite-record-record .infinite-item dl dt,
.infinite-record-wrapper .infinite-record-record .infinite-item dl dd {
    float: left;
    margin: 0;
    padding: 0;
}

.infinite-record-wrapper .infinite-record-record .infinite-item dl dd + dd::before {
    content: '; ';
}

.infinite-record-wrapper .infinite-record-record .infinite-item dl dt {
    clear: left;
}

.infinite-record-wrapper .infinite-record-record .infinite-item dl dt::after {
    content: ":\00a0";
}

.infinite-record-wrapper .infinite-record-record .infinite-item h4 {
    font-size: 1.2rem;
}

.infinite-record-wrapper .infinite-record-record .infinite-item-indent-1 h3 {
    font-size: 1.5rem;
}

.infinite-record-wrapper .infinite-record-record .infinite-item-indent-2 h3 {
    font-size: 1.4rem;
}

.infinite-record-wrapper .infinite-record-record .infinite-item-indent-3 h3 {
    font-size: 1.3rem;
}

.infinite-record-wrapper .infinite-record-record .infinite-item-indent-4 h3 {
    font-size: 1.2rem;
}


.inline-label {
    float: left;
    font: inherit;
    font-weight: 400;
}

.inline-label::after {
    content: ":\00a0";
}

.large-badge > form {
    display: inline;
}

.largetree-container {
    background: transparent;
    margin-bottom: 0;
}

.largetree-container .current {
    outline-color: #f5c163;
}

.largetree-container .current .table-cell {
    background-color: #fdf3e0;
}

.largetree-container .has_digital_instance {
    float: right;
    line-height: 1.65rem;
    margin: 0 0.25rem;
}

.largetree-container .indentor {
    background: transparent;
}

.largetree-container .indentor > .expandme {
    padding-right: 0;
}

.largetree-container .indentor > .expandme[aria-hidden] {
    visibility: visible !important;
}

.largetree-container .indentor > .expandme[aria-hidden] > .expandme-icon {
    right: 7px;
    transform: none;
    vertical-align: top;
}

.largetree-container .indentor > .expandme[aria-hidden] > .expandme-icon::before {
    color: #fd5000;
    content: "⚬";
    font-size: .875rem;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}

.largetree-container .table-cell {
    height: auto;
    line-height: inherit;
}

.largetree-container .table.root {
    margin-bottom: 0;
}

.largetree-container .table.root div.table-row,
.largetree-container .table.root div.table-row:nth-of-type(2n+1) {
    background-color: transparent;
}

.modal .modal-body {
    padding: 0 1rem;
}

.modal .modal-footer,
.modal .modal-header {
    border: none;
    padding: 1rem;
}

.modal .modal-title {
    margin: 0;
    padding: 0;
}

.note-content {
    margin: 0;
    padding: 0;
}

.note-content.readmore .expander .fa {
    display: none;
}

.note-content.readmore > p,
.note-content.readmore.expanded .more {
    display: inline;
}

.page_actions {
    margin: 1rem 0;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .information,
    .page_actions {
        width: 100%;
    }

    .page_actions > .text-right {
        text-align: left;
    }
}

.page_actions .large-badge {
    font-size: 0.875rem;
}

.page_actions .large-badge .fa-3x {
    font-size: 2em;
}

.page_actions .page_action {
    border-color: #ccc;
}

.panel {
    margin: 1rem 0;
}

.panel .panel-body {
    padding: 0 1rem;
}

.panel .panel-body .bgsu_common_list_breadcrumb {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.panel .panel-heading {
    border: none;
    padding: 1 rem;
}

.panel .panel-title {
    margin: 0;
    padding: 0;
}

.panel-group {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .plusminus {
        display: block;
        padding-top: 1.65rem;
    }
}

.plusminus .btn {
    font: inherit;
    padding: .25rem .625rem;
}

.recordrow {
    border: none;
    margin: 1rem 0;
    padding: 0;
}

.recordrow .dates,
.recordrow .single_note {
    margin: 0;
}

.recordrow .result-repfv__figure {
    float: right;
    margin: 0 0 1rem 1rem;
}

.recordrow .single_note br {
    display: none;
}

.recordrow .single_note p {
    margin: 0;
}

.recordrow .single_note p + p {
    margin-top: 1rem;
}

.repository-logo {
    float: none;
}

.repository-logo img,
.recordrow .repository-logo img {
    max-height: 84px;
    max-width: none;
}

.result_context,
.result_context strong {
    padding: 0;
}

.searchstatement {
    background: #f2f2f2;
    border-radius: 12px;
    padding: 12px .75rem;
}

.searchstatement .no-bullets {
    margin: 0;
}

.searchstatement .no-bullets > li::before {
    display: none;
}

.searchstatement .refinesearch {
    margin: 1rem 0 0 0;
    padding: 0;
    width: 100%;
}

.searchstatement .searchterm {
    font: inherit;
    font-weight: 400;
}

.subnote {
    margin: 0;
    padding: 0;
}

.subnote + .subnote {
    margin-top: 1rem;
}

dd, dt {
    line-height: inherit;
}

dl {
    margin: 1rem 0;
}

dt {
    font-weight: 400;
}

h1, h2, h3 {
    color: inherit;
}

html {
  scroll-padding-top: 1rem;
}

label {
    display: inline;
    font: inherit;
    margin: 0;
    max-width: none;
}
