#content {
    padding: 0;
}

#facets .more-facets .more-facets__facets,
#facets .more-facets .more-facets__less {
    display: none;
}

#facets .more-facets .more-facets__less,
#facets .more-facets .more-facets__more {
    margin: -0.5rem 0 0 2rem;
}

#infinite-tree-container,
#tree-container {
    height: auto;
    max-height: calc(100vh - 2rem);
}

#lead_graph {
    padding: 0;
}

#load-all-section {
    display: none;
}

#main-content {
    margin-bottom: 1rem;
}

#sidebar.resizable-sidebar {
    background: #f2f2f2;
    border: none;
    padding: 12px 0.75rem;
    border-radius: 12px;
}

#sidebar.resizable-sidebar .resizable-sidebar-handle {
    display: none;
}

@media (min-width: 992px) {
    #sidebar.resizable-sidebar {
        padding-left: calc(0.75rem + 11px);
        padding-right: 0.75rem;
    }

    #sidebar.resizable-sidebar .resizable-sidebar-handle {
        border-radius: 12px 0 0 12px;
        display: block;
        width: 11px;
        background-position: center;
    }

    #sidebar.resizable-sidebar-left {
        margin-left: 15px;
        padding-left: 0.75rem;
        padding-right: calc(0.75rem + 11px);
    }

    #sidebar.resizable-sidebar-left .resizable-sidebar-handle {
        border-radius: 0 12px 12px 0;
    }
}

#submit_search {
    background-color: #72392a;
    font-size: inherit;
    width: auto;
}

#tabs {
    margin-bottom: 1rem;
}

#whats-in-container {
    border: none;
}

.acc_holder,
.accordion {
    margin: 1rem 0 0 0;
}

.alert {
    margin: 1rem 0;
    padding: 12px 0.75rem;
}

.alert .close {
    padding: 0.5rem 0.75rem 0 0;
}

.available-digital-objects {
    float: none;
}

.objectimage {
    margin: 1rem 0;
}

.badge-and-identifier {
    font: inherit;
    font-weight: 400;
    margin-top: -0.825rem;
}

.badge-and-identifier .identifier,
.badge-and-identifier .identifier .component,
.badge-and-identifier .identifier .id-label,
.record-type-badge,
.record-type-badge.accession,
.record-type-badge.agent,
.record-type-badge.archival_object,
.record-type-badge.classification,
.record-type-badge.digital_object,
.record-type-badge.repository,
.record-type-badge.resource,
.record-type-badge.subject {
    border-color: inherit;
    color: inherit;
    font: inherit;
    padding: 0;
}

.bgsu_common_pagination {
    flex-wrap: wrap;
}

.border {
    border-color: #ced4da !important;
}

.border:hover {
    border-color: #4f2c1d !important;
}

.btn.btn-default {
    color: #7f3f2f;
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;
    text-decoration-color: #f5c163;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.btn.btn-default:is(:active, :focus, :hover) {
    color: #4f2c1d;
    text-decoration: underline;
    text-decoration-color: #f5c163;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.btn.btn-default .fa-inverse {
    color: #e3a492;
}

.btn-light,
.btn-light:hover {
    background-color: #fff;
    color: #4f2c1d;
}

.card .card-body {
    padding: 0 1rem;
}

.card .card-header {
    padding: 0.5rem 1rem;
}

.card .card-title {
    margin: 0;
    padding: 0;
}

.emph {
    font-style: italic;
}

.emph.altrender,
.emph.bold,
.emph.nonproport,
.emph.smcaps,
q.emph,
sub.emph,
sup.emph,
u.emph {
    font-style: normal;
}

.emph.altrender:before {
    content: "«";
}

.emph.altrender:after {
    content: "»";
}

.emph.bold {
    font-weight: bold;
}

.emph.italic {
    font-style: italic;
}

.emph.nonproport {
    font-family:
        SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
}

.emph.single:before {
    content: "‘";
}

.emph.single:after {
    content: "’";
}

.emph.smcaps {
    font-variant: small-caps;
}

.form-control::placeholder {
    color: transparent;
}

.has-resizable-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.infinite-records-container {
    height: auto;
}

.infinite-records-container .infinite-record-record,
.infinite-records-container .infinite-record-record:target {
    background-image: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 19px,
        #999 20px
    );
    border-radius: 0;
    box-shadow: none;
    margin-left: -19px;
}

.infinite-records-container .infinite-record-record .infinite-item {
    display: flow-root;
    padding-left: 20px;
}

.infinite-records-container
    .infinite-record-record:target
    .infinite-item
    .information {
    background: #fdf3e0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 0.25rem #fdf3e0;
}

.infinite-records-container .infinite-record-record .infinite-item dl {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.infinite-records-container .infinite-record-record .infinite-item dl dt,
.infinite-records-container .infinite-record-record .infinite-item dl dd {
    float: left;
    margin: 0;
    padding: 0;
}

.infinite-records-container
    .infinite-record-record
    .infinite-item
    dl
    dd
    + dd::before {
    content: "; ";
}

.infinite-records-container .infinite-record-record .infinite-item dl dd br {
    display: none;
}

.infinite-records-container .infinite-record-record .infinite-item dl dd p {
    margin: 0;
}

.infinite-records-container .infinite-record-record .infinite-item dl dt {
    clear: left;
}

.infinite-records-container
    .infinite-record-record
    .infinite-item
    dl
    dt::after {
    content: ":\00a0";
}

.infinite-records-container .infinite-record-record .infinite-item h4 {
    font-size: 1.2rem;
}

.infinite-records-container .infinite-record-record .infinite-item-indent-1 h3 {
    font-size: 1.5rem;
}

.infinite-records-container .infinite-record-record .infinite-item-indent-2 h3 {
    font-size: 1.4rem;
}

.infinite-records-container .infinite-record-record .infinite-item-indent-3 h3 {
    font-size: 1.3rem;
}

.infinite-records-container .infinite-record-record .infinite-item-indent-4 h3 {
    font-size: 1.2rem;
}

.infinite-records-container .waypoint:last-child {
    padding-bottom: 0;
}

.inline-label {
    float: left;
    font: inherit;
    font-weight: 400;
}

.inline-label::after {
    content: ":\00a0";
}

.large-badge > form {
    display: inline;
}

.largetree-container {
    background: transparent;
    margin-bottom: 0;
}

.largetree-container .current {
    outline-color: #f5c163;
}

.largetree-container .current .table-cell {
    background-color: #fdf3e0;
}

.largetree-container .has_digital_instance {
    float: right;
    line-height: 1.65rem;
    margin: 0 0.25rem;
}

.largetree-container .indentor {
    background: transparent;
}

.largetree-container .indentor > .expandme {
    padding-right: 0;
}

.largetree-container .indentor > .expandme .expandme-icon::before {
    font-size: 12px;
    vertical-align: middle;
}

.largetree-container .indentor:has(.expandme[aria-hidden])::after {
    color: #fd5000;
    content: "⚬";
    font-size: 0.875rem;
    vertical-align: top;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}

.largetree-container .table-cell {
    height: auto;
    line-height: inherit;
}

.largetree-container .table.root {
    margin-bottom: 0;
}

.largetree-container .table.root div.table-row,
.largetree-container .table.root div.table-row:nth-of-type(2n + 1) {
    background-color: transparent;
}

.modal .modal-body {
    padding: 0 1rem;
}

.modal .modal-footer,
.modal .modal-header {
    border: none;
    padding: 1rem;
}

.modal .modal-title {
    margin: 0;
    padding: 0;
}

.page_actions {
    margin: 1rem 0;
    white-space: nowrap;
}

.page_actions > .d-flex {
    gap: 0.25rem;
}

.page_actions .large-badge {
    font-size: 0.875rem;
    padding: 0 !important;
}

.page_actions .large-badge:has(.d-none) {
    display: none;
}

.page_actions .large-badge .fa-3x {
    font-size: 2em;
}

.page_actions .page_action {
    border-color: #ccc;
}

.panel-group {
    margin: 0;
    padding: 0;
}

.plusminus_label {
    display: none;
}

.readmore__content {
    max-height: 3.3rem;
}

.readmore__content > p:first-child {
    margin-top: 0;
}

.readmore__label {
    background: #fff;
    border: 1px solid;
    border-radius: 500px;
    box-shadow:
        0 0.7px 0.7px rgba(0, 0, 0, 0.09),
        0 1.1px 1.2px -1.4px rgba(0, 0, 0, 0.08),
        0 2.5px 2.7px -2.9px rgba(0, 0, 0, 0.08);
    color: #7f3f2f;
    cursor: pointer;
    margin: -0.5rem 5px 2px 0;
    transition: all 0.3s ease;
}

.readmore__label:is(:active, :focus, :hover) {
    background: #4f2c1d;
    border: 1px solid;
    color: #fff;
    transform: translateY(1px);
}

.recordrow {
    border: none;
    border-radius: none;
    margin: 1rem 0;
    padding: 0;
}

.repository-logo {
    float: none;
}

.repository-logo img,
.recordrow .repository-logo img {
    max-height: 84px;
    max-width: none;
}

.result_context,
.result_context strong {
    padding: 0;
}

.result-repfv__figure {
    float: right;
    margin: 0 0 1rem 1rem;
}

.searchstatement {
    background: #f2f2f2;
    border-radius: 12px;
    padding: 12px 0.75rem;
}

.searchstatement .no-bullets {
    margin: 0;
}

.searchstatement .no-bullets > li::before {
    display: none;
}

.searchstatement .refinesearch {
    margin: 1rem 0 0 0;
    padding: 0;
    width: 100%;
}

.searchstatement .searchterm {
    font: inherit;
    font-weight: 400;
}

.searchterm {
    background-color: #fdf3e0;
    border-radius: 0.25rem;
    font: inherit;
    padding: 0;
}

.searchterm::before,
.searchterm::after {
    content: "\200A";
}

.subnote {
    margin: 0;
    padding: 0;
}

.waypoint:last-child .infinite-record-record:last-child::after {
    display: none;
}

dd {
    margin: 0;
}

dl {
    margin: 1rem 0;
}

dt {
    font-weight: 400;
}

html {
    scroll-padding-top: 1rem;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    color: inherit;
}

label {
    display: inline;
    margin: 0;
}

select {
    text-overflow: ellipsis;
}
