<% if @result.respond_to?(:cite) && @result.cite_item && @result.cite_item_description %>
  <button type="submit" class="btn page_action request btn-default" id="cite_sub">
    <i class="fa fa-book fa-3x"></i><br/>
    <%= t('actions.cite') %>
  </button>
<% end %>
