<% if AppConfig[:pui_page_actions_request] && defined?(@request) && !@request.nil? && pass_email_requirements?(@result) %>
    <button type="submit" class="btn page_action request  btn-default" id="request_sub">
      <i class="fa fa-bullhorn fa-3x"></i><br/><%= t('actions.request') %></button>
<% end %>
