<%
name = nil
code = nil

if @result.resolved_repository
  name = @result.resolved_repository.fetch('name')
  code = @result.resolved_repository.fetch('repo_code').downcase.sub("/", "")
end

alma = @result['json'] && @result['json']['user_defined'] && @result['json']['user_defined']['string_1']
%>

Unless otherwise noted in this finding aid, this collection is available for use<% if name %> at the <%= name %><% end %> any time during our normal hours of operation. While no appointment is required, we recommend requesting access to the collection in advance of your visit<% if code %> by <a href="https://www.bgsu.edu/library/ask-us/#<%= code %>" target="_blank">contacting us</a><% if alma %> or<% end %><% end %><% if alma %> placing a hold via the collection’s <a href="https://librarysearch.bgsu.edu/discovery/fulldisplay?vid=01OHIOLINK_BGSU:BGSU&docid=alma<%= alma %>" target="_blank">catalog record</a> in Library Search. Please note that you must be logged into your Library Search account in order to place a hold. If you do not have a Library Search account, please contact us directly<% end %>.
