<%
name = nil
email = nil
phone = nil

if @result.resolved_repository
  name = @result.resolved_repository.fetch('name')
  email = @result.resolved_repository.dig('agent_representation', '_resolved', 'agent_contacts', 0, 'email')
  telephones = @result.resolved_repository.dig('agent_representation', '_resolved', 'agent_contacts', 0, 'telephones')

  telephones.each do |telephone|
    if !telephone['number'].blank?
      if !telephone['number_type'].blank? && telephone['number_type'].strip.upcase != 'FAX'
        phone = telephone['number']
      end
    end
  end
end

bib = @result['json'] && @result['json']['user_defined'] && @result['json']['user_defined']['string_1']

if bib
  bib_match = bib.match /^b[0-9]{7}/

  if bib_match
    bib = bib_match[0] + "a"
  end
end
%>

Unless otherwise noted in this finding aid, this collection is available for use<% if name %> at the <%= name %><% end %> any time during our normal hours of operation. While no appointment is required, we recommend requesting access to the collection in advance of your visit<% if email %> <a href="mailto:<%= email %>">via email</a><% if phone or bib %> or<% end %><% end %><% if phone %> by phone at <%= phone %><% if bib %> or<% end %><% end %><% if bib %> using the <em>Schedule for Use</em> button in the <a href="http://maurice.bgsu.edu/record=<%= bib %>" target="_blank">collection’s catalog record</a><% end %>.
